{% extends 'layouts/base.html' %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Bootstrap Touchspin -->
<link href="{% static 'vendor/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css' %}" rel="stylesheet">
<!--DataTable-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<link href="{% static 'assets/css/product.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block content %}
{% load humanize %}
<div class="container">
  <div class="row product mb-3">
    <div class="col-md-6">
      <div class="product-img mt-5">
        <img src="{{product.main_img.url}}" class="item__poster" width="500" id='product__img' value="{{product.id}}"><br>
      </div>
    </div>
    <div class="col-md-6" id="product__info">
      <div class="product__info mt-5">
        <div class="product__info-title">{{product.name}}</div>
        <div class="product__info-desc">훈연향 가득한 정통 바베큐 폭립</div>
        <div class="product__info-price mb-4">
          <span>30%</span>
          <span>{{product.price | intcomma}}</span>
          <span>원</span>
        </div>
        <dl class="row">
          <dt class="col-3 mb-3">판매 단위</dt>
          <dd class="col-9">1개</dd>
    
          <dt class="col-3">원산지</dt>
          <dd class="col-9">대한민국</dd>
        </dl>
        <hr>
      </div>
      <div class="product__info-amount mb-3 mt-4">
        <label class="col-3">구매 수량</label>
        <div class="input-group input-spinner touchspin col-9">
          <input type="text" class="form-control product__amount" name="amount" value="1"
          onchange="updateAmount(this, '{{product.price}}');">
        </div>
      </div>
      <div class="product__option mb-4">
        <label class="col-3">옵션</label>
        <div class="input-group input-spinner col-9">
          <select class="form-select col-6">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
          </select>
        </div>
      </div>
      <div class="product__total-price">
        <label class="col-3">총 상품 금액:</label>
        <span class="col-9 total-price h5">{{product.price | intcomma}}원</span>
      </div>
      <div class="product__button col-md-12 mb-2">
        <span class="like" onclick="likeProduct(this, '{{product.id}}');">
          {% if Liked %}
          <i class="fas fa-fw fa-heart fa-lg heart-primary" id="heart"></i>
          {% else %}
          <i class="fas fa-fw fa-heart fa-lg heart-white" id="heart"></i>
          {% endif %}
        </span>
        <button class="btn-product col-md-10" id="product__cart">장바구니 담기</button>
      </div>
    </div>
  </div>
  {% if related_products %}
  <hr class="my-5">
  <div class="pt-5">
    <a href="#">
      <div class="items__title mb-2">
        <h5>함께 주문한 상품</h5>
      </div>
    </a>
  </div>
  <div class="row gy-3 gx-1 gx-md-3">
    {% for p in related_products %}
    <div class="col-xl col-lg-3 col-6">
      <div class="card-product-grid mb-0">
        <div class="img-wrap"> 
          <img class="img-thumbnail" src="{{ p.main_img.url }}"
          onclick="window.open('/product/product-detail/'+'{{ p.id }}'+'','_self');"> 
        </div>
        <div class="text-center mt-2">
          <p class="related-product__title">{{ p.name }}</p>
          <div class="price text-muted">{{ p.price | intcomma}}원</div> <!-- price.// -->
        </div>
      </div> <!-- card // -->
    </div> <!-- col.// -->
    {% endfor %}
    {% if range %}
    {% for i in range %}
    <div class="col-xl col-lg-3 col-6">
    </div> <!-- col.// -->
    {% endfor %}
    {% endif %}
  </div> <!-- row.// -->
  {% endif %}

  <div class="card border-0 my-5">
    <header class="card-header my-5">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a href="#" data-bs-target="#product__info-detail" data-bs-toggle="tab" class="nav-link active px-4">상품 설명</a>
        </li>
        <li class="nav-item">
          <a href="#" data-bs-target="#product__info-info" data-bs-toggle="tab" class="nav-link px-4">상품 정보</a>
        </li>
        <li class="nav-item">
          <a href="#" data-bs-target="#product__review" data-bs-toggle="tab" class="nav-link px-4">상품 후기</a>
        </li>
        <li class="nav-item">
          <a href="#" data-bs-target="#product__qna" data-bs-toggle="tab" class="nav-link px-4">상품 문의</a>
        </li>
      </ul>
    </header>
    <div class="tab-content px-2">
      <div class="row mb-5 pb-5" id="product__info-detail">
        {{ product.content.html | safe}}
      </div>
      <div class="row my-5" id="product__review">
        <div class="row">
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">후기 </h5>
                <hr>
              <blockquote class="border-bottom">
                <div class="float-lg-end d-flex mb-3">
                  <div class="btn-group d-inline-flex me-2">
                    <button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Like"> <i class="fa fa-thumbs-up"></i> </button>
                    <button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Dislike"> <i class="fa fa-thumbs-down"></i> </button>
                  </div>
                  <button class="btn btn-light btn-sm float-end "> <i class="fa fa-ellipsis-v"></i> </button>
                </div>
                <div class="icontext">
                  <img src="../images/avatars/avatar.jpg" class="img-xs icon rounded-circle">
                  <div class="text">
                    <h6 class="mb-0"> Michael Jonathan </h6>
                    <div class="rating-wrap">
                      <ul class="rating-stars">
                        <li style="width:80%" class="stars-active">
                          <img src="../images/misc/stars-active.svg" alt="">
                        </li>
                        <li> <img src="../images/misc/starts-disable.svg" alt=""> </li>
                      </ul>
                      <b class="dot"></b>
                      <small class="label-rating text-muted"> 2022-05-22 작성 </small>
                    </div>
                  </div>
                </div> <!-- icontext.// -->
                <div class="mt-3">
                  <p>
                    It used to be great, finding almost every song, but now i dont know what happened (they might be hacked even) that it can not find any song and it just makes up a different song to thats all and all the best Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi
                  </p>
                </div>
              </blockquote>
            
              <blockquote class="border-bottom">
                <div class="float-lg-end d-flex mb-3">
                  <div class="btn-group d-inline-flex me-2">
                    <button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Like"> <i class="fa fa-thumbs-up"></i> </button>
                    <button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Dislike"> <i class="fa fa-thumbs-down"></i> </button>
                  </div>
                  <button class="btn btn-light btn-sm float-end "> <i class="fa fa-ellipsis-v"></i> </button>
                </div>
                <div class="icontext">
                  <img src="../images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
                  <div class="text">
                    <h6 class="mb-0"> Michael Jonathan </h6>
                    <div class="rating-wrap">
                      <ul class="rating-stars">
                        <li style="width:80%" class="stars-active">
                          <img src="../images/misc/stars-active.svg" alt="">
                        </li>
                        <li> <img src="../images/misc/starts-disable.svg" alt=""> </li>
                      </ul>
                      <b class="dot"></b>
                      <small class="label-rating text-muted"> Purchased on Wed, May 12 </small>
                    </div>
                  </div>
                </div> <!-- icontext.// -->
                <div class="mt-3">
                  <p>
                    It used to be great, finding almost every song, but now i dont know what happened (they might be hacked even) that it can not find any song and it just makes up a different song to thats all and all the best
                    Just makes up a different song to thats all and all the best
                  </p>
                </div>
              </blockquote>
            
              <blockquote class="border-bottom">
                <div class="float-lg-end d-flex mb-3">
                  <div class="btn-group d-inline-flex me-2">
                    <button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Like"> <i class="fa fa-thumbs-up"></i> </button>
                    <button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip" data-bs-title="Dislike"> <i class="fa fa-thumbs-down"></i> </button>
                  </div>
                  <button class="btn btn-light btn-sm float-end "> <i class="fa fa-ellipsis-v"></i> </button>
                </div>
                <div class="icontext">
                  <img src="../images/avatars/avatar3.jpg" class="img-xs icon rounded-circle">
                  <div class="text">
                    <h6 class="mb-0"> John Alex </h6>
                    <div class="rating-wrap">
                      <ul class="rating-stars">
                        <li style="width:80%" class="stars-active">
                          <img src="../images/misc/stars-active.svg" alt="">
                        </li>
                        <li> <img src="../images/misc/starts-disable.svg" alt=""> </li>
                      </ul>
                      <b class="dot"></b>
                      <small class="label-rating text-muted"> Purchased on Wed, Apr 30 </small>
                    </div>
                  </div>
                </div> <!-- icontext.// -->
                <div class="mt-3">
                  <p>
                    It used to be great, finding almost every song, but now i dont know what happened (they might be hacked even) that it can not find any song and it just makes up a different song to thats all and all the best It used to be great, finding almost every song, but now i dont know what happened (they might be hacked even) 
                  </p>
                </div>
              </blockquote>
            
              </div>
            </div>
        
          </div> <!-- col.// -->
          <div class="col-lg-4">
            <article class="card">
              <div class="card-body">
                <div class="rating-wrap">
                <ul class="rating-stars stars-lg">
                  <li style="width:80%" class="stars-active"> <img src="{% static 'assets/img/misc/stars-active.svg' %}" alt=""> </li>
                  <li> <img height="520" src="{% static 'assets/img/misc/starts-disable.svg' %}" alt=""> </li>
                </ul>
                <b class="label-rating text-lg"> 4.6 / 5 </b>		
                </div> <!-- rating-wrap.// -->
                <p class="mt-1 text-muted"> 320개의 후기 </p>
              
                <table class="table table-borderless table-sm">
                  <tr valign="middle">
                    <td width="50"> 5 점 </td>
                    <td> 
                      <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemax="100"></div>
                      </div> <!-- progress .// -->
                    </td>
                    <td width="50"> 95 % </td>
                  </tr>
                  <tr valign="middle">
                    <td> 4 점 </td>
                    <td> 
                      <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemax="100"></div>
                      </div> <!-- progress .// -->
                    </td>
                    <td> 80 % </td>
                  </tr>
                  <tr valign="middle">
                    <td> 3 점 </td>
                    <td> 
                      <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemax="100"></div>
                      </div> <!-- progress .// -->
                    </td>
                    <td> 35 % </td>
                  </tr>
                  <tr valign="middle">
                    <td> 2 점 </td>
                    <td> 
                      <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 13%;" aria-valuenow="13" aria-valuemax="100"></div>
                      </div> <!-- progress .// -->
                    </td>
                    <td> 13 % </td>
                  </tr>
                  <tr valign="middle">
                    <td> 1 점 </td>
                    <td> 
                      <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width:15%;" aria-valuenow="5" aria-valuemax="100"></div>
                      </div> <!-- progress .// -->
                    </td>
                    <td> 15 % </td>
                  </tr>
                </table>
                <button class="btn btn-primary w-100">후기 쓰기</button>
              </div>
            </article>
          </div> <!-- col.// -->
        </div> 
      </div>
      <div class="row mb-3" id="product__qna">
        <h5>상품 Q&A</h5> <br><br>
        <div>상품에 대한 문의를 남기는 공간입니다.</div>
        <div>배송 관련, 주문(취소/교환/환불) 관련 문의는 1:1 문의에 남겨주세요.</div>
        <br>
        <br>
        <div class="row gx-2" id="question">
          <table class="table align-items-center table-flush table-hover mb-5 px-2" id="dataTableHover-proqna">
            <thead class="thead-light">
              <tr>
                <th>작성일</th>
                <th>제목</th>
                <th>작성자</th>
                <th>답변상태</th>
              </tr>
            </thead>
          </table>
          {% if user.is_authenticated %}
          <button class="btn btn-primary col-2 float-right mt-3" id="question-post" type="button" onclick="openModal();">문의 등록</button>
          {% else %}
          <button class="btn btn-primary col-2 float-right mt-3" id="question-post" type="button" onclick="openLoginModal();">문의 등록</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<!--상품 문의 등록 모달-->
<div class="modal fade" id="qna-add" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelLogout">상품 문의</h5>
        <button type="button" class="close" data-dismiss="modal" id="modal-close" onclick="closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center my-3">
          <div class="col-lg-11">
            <figure class="itemside align-middle question-product mb-3">
              <div class="aside">
                <img src="{{ product.main_img.url }}" 
                    class="img-sm border rounded" >
              </div>
              <figcaption class="info pt-1">
                <h6 class="title mb-2 pt-3">{{ product.name }}</h6>
              </figcaption>
            </figure>
            <div class="form-group row mb-3 px-1">
              <label class="mb-1">제목</label>
              <input class="form-control mx-2" type="text" placeholder="제목을 입력해주세요" id="question-title"/>
            </div>
            <div class="form-group row mb-3 px-1">
              <label class="mx-1 mb-1">내용</label>
              <textarea class="form-control mx-2" placeholder="문의 내용을 입력해주세요" rows="7" id="question-content"></textarea>
            </div>
            <div class="form-group float-left qna-checkbox">
              <input type="checkbox">
              <label>비밀글로 문의하기</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="closeModal();">취소</button>
        <button type="button" class="btn btn-primary" onclick="saveQuestion('{{product.id}}');">등록</a>
      </div>
    </div>
  </div>
</div>

<!--로그인 모달-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body my-3">
        <div class="row justify-content-center my-5 login__content">
          로그인 후 문의를 작성할 수 있습니다.
        </div>
      </div>
      <div class="modal-footer">
        <div class="row justify-content-center h6 text-primary">
          <button class="btn__login" onclick="closeLoginModal();">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!--DataTable-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<!-- Bootstrap Touchspin -->
<script src="{% static 'vendor/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js' %}"></script>

<script src="{% static 'jsmeta/touchspin.js' %}"></script>
<script src="{% static 'jsmeta/product/script_qna.js' %}"></script>
<script src="{% static 'jsmeta/mypage/script_like.js' %}"></script>
<script src="{% static 'jsmeta/product/script_product-detail.js' %}"></script>
{% endblock javascripts %}