<!DOCTYPE html>

{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!--DataTable-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock stylesheets %}

<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">

		<!-- Bootstrap / CSS -->
		<style>
			video{
				transform: rotateY(180deg);
				-webkit-transform: rotateY(180deg); /*Safari and Chrome*/
				-moz-transform: rotateY(180deg); /*Firefox*/
			}
		</style>
	
		<title>WebRtc Chat</title>
	</head>
	<body>
		<header>
            <!--username, shop name-->
            <!--안내문-->

			<h1>{{ shop.shop_name }}</h1>
			<br>
			<h1 id="username">{{request.user.username}}</h1>
			<div hidden>
				<h1 id="shopId">{{ shop.id }}</h1>
			</div>

			<!--임시-->
			<!-- <input id="username"> -->
        </header>

		<main class="container-fluid">
			<div class="row">
				<section class="col-md-8">
					<!--<video id="localVideo" autoplay playsinline style="
					-webkit-transform: scaleX(-1);
					transform: scaleX(-1);
					visibility: hidden;
					width: auto;
					height: auto;"
					></video>-->
					<video id="localVideo" autoplay playsinline></video>
					<video id="remoteVideo" autoplay playsinline></video>

					<div>
						<button class="btn btn-primary btn-sm" id="startButton">Start</button>
						<!-- <button class="btn btn-success btn-sm" id="callButton">Call</button> -->
						<button class="btn btn-danger btn-sm" id="hangupButton">Hang Up</button>
					</div>
				</section>
				<section class="col-md-4">
                    <div id="messages">
                        <ul id="message-log"></ul>
                    </div>
					<input id="message-input" type="text" size="56"/>
					<input id="message-submit" type="button" value="Send" disabled/>
				</section>
			</div>


			<!--Products list-->
			<div id="productList" style="display:none;">
				<div class="row">
					<div class="col-lg-12" style="padding:10px;">
						<div class="card mb-4">
							<div class="card-header">
								<h3 class="h5 mb-0 text-gray-800">Prodcuts List</h3>
							</div>
							<div class="card-body justify-content-end">
								<table class="table align-items-center table-flush table-hover" id="dataTableHover-prolist" style="width:100%">
									<thead class="thead-light">
									  <tr>
										<th>Product name</th>
										<th>price</th>
										<th>description</th>
									  </tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>
		
		<footer></footer>

		<!-- Optional JavaScript -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!--DataTable-->
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/hand-pose-detection"></script>
		<!-- Optional: Include below scripts if you want to use MediaPipe runtime-->
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands"></script>

		<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>


		<script src="{% static 'jsmeta/chat/script_chat.js' %}"></script>
	</body>
</html>