{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Required meta tags -->
<meta charset="utf-8">
<html lang="en">

<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

<!-- Vendor CSS Files -->
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

<!-- Bootstrap css -->
<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />

<!-- Custom css -->
<link href="{% static 'assets/css/ui.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/product.css' %}" rel="stylesheet" type="text/css" />

{% endblock stylesheets %}
<style>
  html, body {
    width: 100%;
    height: 100%;
  }
</style>

{% block content %}

<div class="row px-3 py-3">
  <div class="chat__button">
    <button class="btn btn-primary btn-md" id="startButton"><i class="bi bi-telephone mr-1"></i>  시작</button>
    <button class="btn btn-danger btn-md" id="hangupButton"><i class="bi bi-telephone-x-fill mr-1"></i>  종료</button>
  </div>
  <div class="row col-md-8">
    <aside class="col-md-12">
      <article class="card mb-3 video">
        <div class="content-body">
          <h6 class="username" id="username">{{request.user.username}}</h6>
          <video class="video__screen" id="localVideo" autoplay playsinline></video>
        </div>
      </article>
    </aside>
    <aside class="col-md-12">
      <article class="card mb-3">
        <div class="content-body video">
          <h6 class="username">
            {{ shop.shop_name }}
          </h6>
          <div hidden>
            <h1 id="shopId">{{ shop.id }}</h1>
          </div>
					<video class="video__screen" id="remoteVideo" autoplay playsinline></video>
        </div>
      </article>
    </aside>
  </div>
  <div class="col-md-4" id="productList">
    <aside class="col-md-12">
      <!--Products list-->
      <article class="card mb-3" >
        <div class="card-body justify-content-end p-3">
          <div>
            <h5 class="card-title mb-3">상품 목록</h5>
            <div class="product__list">
              {% load humanize %}
              {% for p in products %}
              <article class="row gy-3 my-1 py-1">
                <div class="col-lg-9 mt-0">
                  <figure class="itemside me-lg-5">
                    <div class="aside">
                      <img src="{{ p.main_img.url }}" 
                          class="img-sm rounded">
                    </div>
                    <figcaption class="info products__info" value="{{ p.id }}">
                      <h6>{{ p.name }}</h6>
                      <p class="text-muted small">{{ p.description }}</p>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-lg-3 col-sm-4 col-6 mt-0">
                  <div class="price-wrap lh-sm"> 
                    <p class="price h6 mb-2">{{ p.price | intcomma }}원</p>
                  </div> <!-- price-wrap .// -->
                </div>
              </article> <!-- row.// -->
              {% endfor %}
            </div>
          </div>
        </div>
      </article>
      <!-- ================= COMPONENT CARD END .//================= -->
    </aside>
    <aside class="col-md-12 chat__text">
      <article class="card mb-3">
        <div class="card-body p-3">
          <h5 class="card-title mb-3">채팅</h5>
          <div class="chat">
            <div id="messages" class="chat__log">
              <ul id="message-log"></ul>
            </div>
            <div class="row g-2 col-11 chat__send">
              <div class="col-10 flex-grow">
                <div class="input-group">
                  <input type="text" id="message-input" placeholder="채팅 보내기" class="form-control" name="">
                </div>
              </div>
              <div class="col-2">
                <button id="message-submit" class="btn w-100 btn-light">전송</button>  
              </div>
            </div>
          </div>
        </div>
      </article>
    </aside>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Optional JavaScript -->
<!--제이쿼리 임시로 따로 추가-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!--DataTable-->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<!--WebRtc-->
<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>

<!-- this example uses TFJS 3.7.0 - older versions back to 2.1.0 are supported -->
<script src="https://unpkg.com/@tensorflow/tfjs-core@3.7.0/dist/tf-core.js"></script>
<script src="https://unpkg.com/@tensorflow/tfjs-converter@3.7.0/dist/tf-converter.js"></script> 
<!-- use the WebGL backend (recommended) - you can alternatively use the WASM backend -->
<script src="https://unpkg.com/@tensorflow/tfjs-backend-webgl@3.7.0/dist/tf-backend-webgl.js"></script>

<!--handpose-->
<script src="https://unpkg.com/@tensorflow-models/handpose@0.0.7/dist/handpose.js"></script>

<!--fingerpose-->
<script src="{% static 'jsmeta/chat/fingerpose.js' %}"></script>

<script src="{% static 'jsmeta/chat/script_chat.js' %}"></script>
{% endblock javascripts %}