<!DOCTYPE html>
{% load static %}
<html>
<body>
  <div class="container">
    <video id="input_video"  autoplay playsinline></video>
    <canvas id="output_canvas" width="1280px" height="720px"></canvas>
  </div>


  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
  <script src="{% static 'jsmeta/chat/mediapipetest2.js' %}"></script>
</body>
</html>