.custom-control {
  line-height: 1.5rem;
}


#login {
  background-color: #1c5d1c;
  color: white;
  width:100%;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  font-size: 14pt;
}

#register {
  background-color: white; 
  color: #1c5d1c;
  width: 100%;
  height: 50px;
  border: 1px solid #1c5d1c;
  border-radius: 4px;
  font-size: 14pt;
}

#register-register {
  background-color: #1c5d1c;
  color: white;
  width:100%;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  font-size: 14pt;
}

#checkSameId, #checkSameEmail {
  background-color: white; 
  color: #1c5d1c;
  border-color: #1c5d1c;
}

a {
  text-decoration: none;
}

.input-email,
.input-password {
  height: 50px !important;
}

textarea:focus, input:focus, button:focus{
  box-shadow: none !important;
}
