@media (max-width: 390px) {
  .product img {
    height: 155px;
  }
}
@media (min-width: 390px) {
  .product img {
    height: 192px;
  }
}
@media (min-width: 576px) {
  .product img {
    height: 192px;
  }
}
@media (min-width: 768px) {
  .product img {
    height: 225px;
  }
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 95% !important;
  }
}
@media (min-width: 1400px) {
  .product img {
    height: 550px;
    margin-bottom: 6px;
  }
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px !important;
  }
}
.product img {
  border-radius: 5px;
}

.product__info-title {
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 3px;
}

.product__info-desc {
  font-size: 13pt;
  margin-bottom: 25px;
}

.product__info-price {
  font-size: 19pt;
  font-weight: 600;
}

.product__info-price span:first-child {
  color: #ff5b5b; 
  margin-right: 8px;
}

.product__info-price span:last-child {
  font-size: 15pt;
  font-weight: 500;
}

.btn-product {
  background-color: #1c5d1c;
  color: white;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  font-size: 14pt;
  float: right;
}
#product__info {
  position: relative;
}

.product__button {
  display: flex;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
}

.product__button span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 50px;
  width: 50px; 
  margin-right: 10px;
}

.product__tab {
  background-color: rgb(240, 240, 240);
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 15px 13px;
  padding: 5px 0;
  border-radius: 4px;

  vertical-align: top;
}

.product__tab li {
  text-align: center;
  vertical-align: middle;
}

.product__tab li:nth-child(1) {
  width: 25%;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.product__tab li:nth-child(2) {
  width: 25%;
  height: 100%;

  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.product__tab li:nth-child(3) {
  width: 25%;
  height: 100%;

  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.product__tab li:nth-child(4) {
  width: 25%;
  height: 100%;
}

a:hover, a:hover h6 {
  text-decoration: none;
  color: black;
}

.btn-primary {
  background-color: #1c5d1c;
  border-color: #1c5d1c;
  color: white;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #1c5d1c;
  border-color: #1c5d1c;
}
.btn-outline-primary {
  background-color: #fff;
  border-color: #1c5d1c;
  color: #1c5d1c;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  border: #1c5d1c;
  background-color: #1c5d1c;
  color: #fff;
}
.btn-light i{
  color: #1c5d1c;
}

.btn-light:hover {
  color: #1c5d1c;
}

.btn-light:hover i, .btn-light:hover svg {
  color: white !important;
}

.text-primary {
  color: #1c5d1c !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color:rgba(28,93,28,0.1);
  color: #1c5d1c;
}
.nav-pills .nav-link {
  padding: 12px 15px;
}
.like{
  cursor: pointer;
}
.heart-white {
  color: #9da1a7;
}
.heart-primary {
  color: #1c5d1c;
}

.form-control, .form-select {
  background-color: white;
}
.form-control:focus {
  border-color: #1c5d1c;
}
.form-control:not(:focus):hover, 
.form-select:not(:focus):hover {
  border: 1px solid #dee2e6;
}
.trash {
  position: absolute;
  top: 6px;
  right: 6px;
  display: inline-block;
  padding: 0.38em 0.55em;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  border-radius: 3rem;
  color: #fff;
  background-color: rgb(84,84,84);
  cursor: pointer;
}
.trash i {
  padding-bottom: 1px;
  color: white;
}

#EditMemForm {
  width: 75%;
  margin: 0 auto;
}
.bootstrap-touchspin .btn-primary {
  background-color: #fff;
  border-color: #dee2e6;
  color: #1c5d1c;
}
.bootstrap-touchspin input {
  background-color: #f9f9f9;
  border-color: #dee2e6;
}
#checkbox {
  display: flex;
  align-items:center;
  margin-right: 10px;
}
.bootstrap-touchspin-down{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bootstrap-touchspin-up{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#checkbox input {
  transform: scale(1.3);
}
#checkbox input[type="checkbox"]:checked +span {
  background-color: #1c5d1c;
}
#dataTableHover-qna.dataTable th:nth-child(1) {
  width: 80px;
  max-width: 80px;
  text-align: center;
  word-break: break-all;
  white-space: pre-line;
}
#dataTableHover-qna.dataTable th:nth-child(2) {
  text-align: center;
}
#dataTableHover-qna.dataTable th:nth-child(3) {
  width: 80px;
  max-width: 80px;
  text-align: center;
  word-break: break-all;
  white-space: pre-line;
}
#dataTableHover-qna.dataTable tbody th, #dataTableHover-qna.dataTable tbody td:nth-child(1),
#dataTableHover-qna.dataTable tbody th, #dataTableHover-qna.dataTable tbody td:nth-child(3) {
  text-align: center;
}
#dataTableHover-qna.dataTable tbody th, #dataTableHover-qna.dataTable tbody td:nth-child(2){
  padding: 8px 15px;
  cursor: pointer;
}
table.dataTable tbody tr:hover {
  background-color: #fbfbfb !important;
}
table.dataTable tbody tr:hover > .sorting_1 {
  background-color: #fbfbfb !important;
}
table.dataTable tbody tr{
  height: 50px;
  vertical-align: middle;
}
#question {
  padding-bottom: 20px;
}
#address-button,
#question-post {
  position:absolute;
  bottom: 10px;
  right: 18px;
  margin-bottom: 5px;
}
#qna-question {
  display: flex;
}
#qna-question img {
  padding-right: 10px;
}
/* #address-relookup:hover {
  background-color: #fff;
  border-color: #1c5d1c;
  color: #1c5d1c;
} */

.cart-notification {
  position: absolute;
  top: 4px;
  right: -5px;
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 13px;
  padding-top: 8px;
  padding-right: 2px;
  font-weight: 500;
  text-align: center;
  border-radius: 9px;
  color: #fff;
  background-color: #1c5d1c;
  cursor: pointer;
}

.nav-cart {
  position: relative;
}
.btn-outline-primary.cancel:hover,
.btn-outline-primary.cancel:focus{
  background-color: #fff;
  color: #1c5d1c;
  border-color: #1c5d1c;
}
.order-cart {
  display: flex;
  justify-content: space-between;
}
.score {
  display: block;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.score-wrap {
  display: inline-block;
  position: relative;
  height: 19px;
}

.score .stars-active {
  color:#ff9017; 
  position: relative;
  z-index: 10;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.score .stars-inactive {
  color:#f1f1f1; 
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-fill-color: initial;
  /* overflow: hidden; */
}

#review-dot {
  vertical-align: text-top;
  font-weight: bold;
}
.score-wrap{
  display: inline-block;
}
.date-wrap{
  display: inline-block;
}
.review__content{
  display: flex;
  justify-content: left;
}

table.dataTable th:first-child {
  width: 80px;
  max-width: 80px;
  text-align: center;
  word-break: break-all;
  white-space: pre-line;
}
#dataTableHover-proqna.dataTable th:nth-child(2),
#dataTableHover-proqna.dataTable th:nth-child(3) {
  text-align: center;
}
table.dataTable th:last-child {
  width: 80px;
  max-width: 80px;
  text-align: center;
  word-break: break-all;
  white-space: pre-line;
}
table.dataTable tbody th, table.dataTable tbody td:first-child,
table.dataTable tbody th, table.dataTable tbody td:last-child {
  text-align: center;
}
#dataTableHover-proqna.dataTable tbody th, #dataTableHover-proqna.dataTable tbody td:nth-child(3){
  text-align: center;
}

#dataTableHover-proqna.dataTable tbody th, #dataTableHover-proqna.dataTable tbody td:nth-child(2){
  padding-left: 35px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 100px;
  z-index: 1;
}

.dropdown-content li {
  color: black;
  padding: 6px 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content li:hover:first-child {
  background-color: #e9ecef;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dropdown-content li:hover:last-child {
  background-color: #e9ecef;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #1c5d1c;
}
.dropdown:hover .dropbtn i {
  color: #fff;
}

.qna-checkbox input {
  transform: scale(1.6);
  margin-left: 5px;
  margin-right: 8px;
}
.login__content {
  font-weight: 600;
}
.text-primary {
  color: #1c5d1c;
}
.btn__login{
  justify-content: center;
  background: #fff;
  color: #1c5d1c;
  border: none;
  font-weight: 600;
}

#mypage-proqna.dataTable tbody th, #mypage-proqna.dataTable tbody td:nth-child(2){
  text-align: center;
}

#mypage-proqna.dataTable th:nth-child(2){
  text-align: center;
}
#mypage-proqna.dataTable tbody th, #mypage-proqna.dataTable tbody td:nth-child(3){
  padding: 8px 15px;
  cursor: pointer;
}
.order__type {
  height: 90px;
}
.box-check .border-oncheck{
  border: 1px solid #dee2e6;
}
.steps-wrap .step.active .icon{
  background-color: #1c5d1c;
  color: white;
}
.steps-wrap .step.active:after{
  background: #1c5d1c;
}
.navbar .dropdown ul{
  box-shadow: 0px 0px 3px rgb(127 137 161 / 25%);
  border-radius: 4px;
}
.navbar>.dropdown > ul > li{
  height: 10px;
}
.card.card-product-grid:hover{
  box-shadow: 0 0px 0px rgb(51 51 51 / 5%);
}
.card.card-product-grid, .card.card-product-list{
  box-shadow: 0 1px 1px rgb(51 51 51 / 5%)
}
.card-product-grid a {
  background-color: rgba(255, 255, 255, 0.5);
}
.card-product-grid .a__heart{
  border: none;
}
.card-product-grid a:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.card-product-grid a:hover i{
  color: #1c5d1c !important;
}
.card-product-grid img:hover {
  transition: all 300ms ease;
  transform: scale(1.01);
  border-radius: 2px;
}
.cart-product-grid .title{
  padding-left: 5px;
}
.card-product-grid .bottom-wrap{
  padding: 12px;
}
.card-product-grid {
  border-radius: 2px;
}
.page-item.active .page-link {
  border-color: #dee2e6;
  color: #fff;
  background-color: #1c5d1c;
}