{% load static %}
{% block stylesheets %}
<link href="{% static 'assets/css/header.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/product.css' %}" rel="stylesheet" type="text/css">

{% endblock stylesheets %}

<header id="header" class="d-flex align-items-center">
  <div class="container header d-flex align-items-center">

    <h1 class="logo me-auto"><a href="{% url 'index' %}">ABCDE</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar" id="navbar-header">
      <ul>
        <li class="dropdown"><a href="#"><span>카테고리</span><i class="bi bi-list p-1"></i></a>
          <ul>
            <li class="dropdown"><a href="#"><span>채소</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 1 %}">친환경</a></li>
                <li><a href="{% url 'product:product-list' 23 %}">고구마/감자/당근</a></li>
                <li><a href="{% url 'product:product-list' 4 %}">시금치/쌈채소/나물</a></li>
                <li><a href="{% url 'product:product-list' 24 %}">브로콜리/파프리카/양배추</a></li>
                <li><a href="{% url 'product:product-list' 25 %}">양파/대파/마늘/배추</a></li>
                <li><a href="{% url 'product:product-list' 26 %}">오이/호박/고추</a></li>
                <li><a href="{% url 'product:product-list' 27 %}">냉동/이색/간편채소</a></li>
                <li><a href="{% url 'product:product-list' 28 %}">콩나물/버섯</a></li>

              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>과일/견과/쌀</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 29 %}">제철과일</a></li>
                <li><a href="{% url 'product:product-list' 5 %}">국산과일</a></li>
                <li><a href="{% url 'product:product-list' 6 %}">수입과일</a></li>
                <li><a href="{% url 'product:product-list' 7 %}">냉동/건과일</a></li>
                <li><a href="{% url 'product:product-list' 3 %}">견과류</a></li>
                <li><a href="{% url 'product:product-list' 2 %}">쌀/잡곡/혼합곡</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>수산/해산/건어물</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 30 %}">제철수산</a></li>
                <li><a href="{% url 'product:product-list' 15 %}">생선류</a></li>
                <li><a href="{% url 'product:product-list' 20 %}">수산가공식품</a></li>
                <li><a href="{% url 'product:product-list' 16 %}">해산물</a></li>
                <li><a href="{% url 'product:product-list' 17 %}">어패류</a></li>
                <li><a href="{% url 'product:product-list' 18 %}">건어물</a></li>
                <li><a href="{% url 'product:product-list' 19 %}">김/미역/해조류</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>정육/계란</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 10 %}">돼지고기</a></li>
                <li><a href="{% url 'product:product-list' 8 %}">소고기</a></li>
                <li><a href="{% url 'product:product-list' 11 %}">닭/오리고기/양고기</a></li>
                <li><a href="{% url 'product:product-list' 12 %}">양념육/돈까스</a></li>
                <li><a href="{% url 'product:product-list' 14 %}">계란류</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>국/반찬/메인요리</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 31 %}">국/탕/찌개</a></li>
                <li><a href="{% url 'product:product-list' 32 %}">밀키트/메인요리</a></li>
                <li><a href="{% url 'product:product-list' 33 %}">밑반찬</a></li>
                <li><a href="{% url 'product:product-list' 21 %}">김치/젓갈/장류</a></li>
                <li><a href="{% url 'product:product-list' 35 %}">두부/어묵/부침개</a></li>
                <li><a href="{% url 'product:product-list' 36 %}">베이컨/햄/통조림</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>샐러드/간편식</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 44 %}">샐러드/닭가슴살</a></li>
                <li><a href="{% url 'product:product-list' 45 %}">도시락/밥류</a></li>
                <li><a href="{% url 'product:product-list' 37 %}">파스타/면류</a></li>
                <li><a href="{% url 'product:product-list' 46 %}">떡볶이/튀김/순대</a></li>
                <li><a href="{% url 'product:product-list' 47 %}">피자/핫도그/만두</a></li>
                <li><a href="{% url 'product:product-list' 48 %}">폭립/떡갈비/안주</a></li>
                <li><a href="{% url 'product:product-list' 49 %}">죽/스프/카레/시리얼</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>면/양념/오일</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 37 %}">파스타/면류</a></li>
                <li><a href="{% url 'product:product-list' 38 %}">식초/소스/드레싱</a></li>
                <li><a href="{% url 'product:product-list' 39 %}">양념/액젓/장류</a></li>
                <li><a href="{% url 'product:product-list' 40 %}">식용유/참기름/오일</a></li>
                <li><a href="{% url 'product:product-list' 41 %}">소금/설탕/향신료</a></li>
                <li><a href="{% url 'product:product-list' 42 %}">밀가루/가루/믹스</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>생수/음료/우유/커피</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 43 %}">생수/탄산수</a></li>
                <li><a href="{% url 'product:product-list' 51 %}">음료/주스</a></li>
                <li><a href="{% url 'product:product-list' 52 %}">우유/두유/요거트</a></li>
                <li><a href="{% url 'product:product-list' 53 %}">커피/차</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>간식/과자/떡</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 54 %}">과자/쿠키</a></li>
                <li><a href="{% url 'product:product-list' 55 %}">초콜릿/젤리/캔디</a></li>
                <li><a href="{% url 'product:product-list' 56 %}">떡/한과</a></li>
                <li><a href="{% url 'product:product-list' 57 %}">아이스크림</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>베이커리/치즈/델리</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 58 %}">식빵/빵류/</a></li>
                <li><a href="{% url 'product:product-list' 59 %}">잼/버터/스프레드</a></li>
                <li><a href="{% url 'product:product-list' 60 %}">케이크/파이/디저트</a></li>
                <li><a href="{% url 'product:product-list' 61 %}">치즈</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>건강식품</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 62 %}">영양제</a></li>
                <li><a href="{% url 'product:product-list' 63 %}">홍삼/인삼/꿀</a></li>
                <li><a href="{% url 'product:product-list' 64 %}">건강즙/건강음료/건강환</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>주류</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{% url 'product:product-list' 65 %}">와인/샴페인</a></li>
                <li><a href="{% url 'product:product-list' 68 %}">증류주/과일주</a></li>
                <li><a href="{% url 'product:product-list' 69 %}">막걸리/약주</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="{% url 'product:product-best' %}">베스트</a></li>
        <li><a href="{% url 'chat:shop-list' %}">점포 구경하기</a></li>
        <li><a class="nav-link scrollto" href="#">행사 둘러보기</a></li>
        <!--
        <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        -->
      </ul>

      <div class="search" id="search">
        <form
          novalidate=""
          method="post"
          action="{% url 'product:search' %}"
          enctype="multipart/form-data"
        >
        {% csrf_token %}
          <div class="search__column">
            <input class="search__keyword" type="text" name="keyword" placeholder="검색어를 입력하세요"/>
            <button class="nav-link scrollto search__button"  type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
      </form>
        <a href="{% url 'mypage:address' %}"><i class="bi bi-geo-alt"></i></a>
        <a class="nav-link scrollto nav-cart" href="{% url 'mypage:cart' %}">
          <i class="bi bi-cart2">
            {% if request.user.id %}
            <span class="cart-notification">{{ cart }}</span>
            {% endif %}
          </i>
        </a>
        {% if request.user.id %}
        <li class="dropdown">
          <a class="nav-link scrollto" href="#"><i class="bi bi-person" style="align-items: center;"></i></a>
          <ul>
            <li><a class="nav-link" href="#">마이페이지</a></li>
            <li><a class="nav-link" href="{% url 'mypage:order-history' %}">주문내역</a></li>
            <li><a class="nav-link" href="{% url 'mypage:like' %}">찜한 목록</a></li>
            <li><a class="nav-link" href="{% url 'confirm-info' %}">회원정보수정</a></li>
            <li><a class="nav-link" href="{% url 'logout' %}">로그아웃</a></li>
          </ul>
        </li>
        {% else %}
        <li class="dropdown">
          <a class="nav-link scrollto active" href="#"><i class="bi bi-person" style="align-items: center;"></i></a>
          <ul>
            <li><a class="nav-link" href="{% url 'login' %}">로그인</a></li>
            <li><a class="nav-link" href="{% url 'register' %}">회원가입</a></li>
          </ul>
        </li>
        {% endif %}
      </div>

      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
    <nav class="nav" id="nav-mobile">
      <ul class="nav__list">
        <li class="nav__btn">
          <a class="nav__link" href="#"><i class="bi bi-house-door"></i></a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="#"><i class="bi bi-search"></i></a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="#"><i class="bi bi-list"></i></a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="#"><i class="bi bi-person"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- End Header -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script src="{% static 'jsmeta/header.js' %}"></script>
<script src="{% static 'jsmeta/product/script_product-search.js' %}"></script>

