{% extends 'layouts/base.html' %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{% static 'assets/css/product.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block content %}
<div class="container mt-5">
  <div class="row pt-3">
    <aside class="col-lg-3">
      <!--  COMPONENT MENU LIST  -->
      <div class="card p-3 h-100">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link" href="{% url 'mypage:order-history' %}">주문내역</a>
          <a class="nav-link" href="{% url 'mypage:like' %}">찜한 목록</a>
          <a class="nav-link active" href="{% url 'mypage:address' %}">배송지 관리</a>
          <a class="nav-link" href="#">결제수단 관리</a>
          <a class="nav-link" href="{% url 'mypage:review' %}">상품 후기</a>
          <a class="nav-link" href="{% url 'mypage:product_qna-list' %}">상품 문의</a>
          <a class="nav-link" href="{% url 'mypage:qna-list' %}">1:1 문의</a>
          <a class="nav-link" href="{% url 'confirm-info' %}">회원정보 수정</a>
          <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
        </nav>
      </div>
      <!--   COMPONENT MENU LIST END .//   -->
    </aside>
    <main class="col-lg-9">
      <article class="card mb-5 pb-5">
      <div class="card-body">
        <h4 class="card-title mb-4">배송지 관리</h4>
        <p class="text-muted">배송지 목록</p>
        <div class="row g-2 mb-3" id="address-table">
          {% if addresses %}
          {% for address in addresses %}
          <div class="col-md-12">
            <article class="box col-md-12">
              <b class="mx-2 text-muted"><i class="fa fa-map-marker-alt"></i></b> 
              <span class="col-md-9" onclick="openModal(this);" style="cursor:pointer;" value="{{address.id}}">{{address.ad_detail}}</span>
            </article>
          </div> <!-- col.// -->
          {% endfor %}
          {% endif %}
        </div> <!-- row.// -->
        <button id="address-button" class="btn btn-primary" data-toggle="modal" data-target="#address-modal">
          <i class="me-2 fa fa-plus"></i>새로운 배송지 추가
        </button>
      </div> <!-- card-body .// -->
      </article> <!-- card .// --> 
    </main>
    </div> <!-- row.// -->
</div>

<!--배송지 추가 모달-->
<div class="modal fade" id="address-add" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelLogout">배송지 추가</h5>
        <button type="button" class="close" data-dismiss="modal" id="modal-close" onclick="closeModalToAdd();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center my-4">
          <div class="col-lg-10">
            <div class="form-group row mb-4">
              <div class="col-md-9 p-0">
                <input class="form-control" type="text" autocomplete="on" id="address" name='address' readonly/>
              </div>
              <div class="col-md-3">
                <button class="btn btn-outline-primary" type="button" id="address-relookup">재검색</button>
              </div>
            </div>
            <div class="form-group row mb-4">
              <input class="form-control" type="text" id="address-detail" name="address-detail" placeholder="나머지 주소를 입력해주세요" required/>
            </div>
          </div>
          <button class="btn btn-primary my-3 col-lg-10" type="submit" onclick="addAddress()">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--배송지 수정 및 삭제 모달-->
<div class="modal fade" id="address-edit" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelLogout">배송지 수정</h5>
        <button type="button" class="close" data-dismiss="modal" id="modal-close" onclick="closeModalToEdit();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center my-4">
          <div class="col-lg-10">
            <div class="form-group row mb-3">
              <input class="form-control" type="text" id="addressToEdit" name="addressToEdit" readonly/>
            </div>
            <div class="form-group row mb-3">
              <label class="mb-1">배송지 이름</label>
              <input class="form-control" type="text" id="address-name" name="address-name"/>
            </div>
             <!-- 
            <div class="form-group row mb-3">
              <label class="mb-1">받으실 분</label>
              <input class="form-control" type="text" autocomplete="on" id="address-name"/>
            </div>
          </div> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="deleteAddress();">삭제</button>
        <button type="button" class="btn btn-primary" onclick="editAddress();">수정</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!--카카오 우편번호 찾기-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script src="{% static 'jsmeta/mypage/script_address.js' %}"></script>
{% endblock javascripts %}