{% extends 'layouts/base.html' %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{% static 'assets/css/product.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <main class="col-lg-12">
      <article class="card">
        <div class="card-body">
          <figure class="mt-4 mx-auto text-center" style="max-width:600px">
            <svg width="96px" height="96px" viewBox="0 0 96 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="round-check">
                        <circle id="Oval" fill="#e3f7e3" cx="48" cy="48" r="48"></circle>
                        <circle id="Oval-Copy" fill="#1c5d1c" cx="48" cy="48" r="36"></circle>
                        <polyline id="Line" stroke="#fff" stroke-width="4" stroke-linecap="round" points="34.188562 49.6867496 44 59.3734993 63.1968462 40.3594229"></polyline>
                    </g>
                </g>
            </svg>
            <figcaption class="my-3">
              <h4>주문이 완료되었습니다.</h4>
              <p>주문을 확인하고 있습니다. <br>드라이브스루나 포장으로 수령하신다면 시간을 엄수해주시기 바랍니다.</p>
            </figcaption>
          </figure>
          <br>
          <ul class="steps-wrap mx-auto" style="max-width: 600px">
            <li class="step active">
              <span class="icon">1</span>
              <span class="text">결제완료</span>
            </li> <!-- step.// -->
            <li class="step ">
              <span class="icon">2</span>
              <span class="text">상품준비완료</span>
            </li> <!-- step.// -->
            <li class="step ">
              <span class="icon">3</span>
              <span class="text">배송준비중</span>
            </li> <!-- step.// -->
            <li class="step ">
              <span class="icon">4</span>
              <span class="text">배송</span>
            </li> <!-- step.// -->
          </ul> <!-- tracking-wrap.// -->
          <br>
        </div>
      </article>
    </main> <!-- col.// -->
  </div> <!-- row.// -->
  <div class="row mt-5">
    <main class="col-lg-12">
      <article class="card">
        <div class="card-body">
          <header class="d-lg-flex">
            <div class="flex-grow-1">
              <h6 class="mb-0 order__no"> <i class="dot"></i>  
                <span class="text-success"> Shipped</span>
              </h6>
              <span class="text-muted">Date: 16 December 2018</span>
            </div>
          </header>
          <hr>
          <div class="row">
            <div class="col-lg-4">
              <p class="mb-1 text-muted">주문자정보</p>
              <p class="m-0"> 
                <span class="order__name"></span> <br>  <span class="order__call"></p>
            </div> <!-- col.// -->
            <div class="col-lg-4 border-start">
              <p class="mb-1 text-muted">수령방법</p>
              <span class="m-0 order__type"></span><br>
              <span class="m-0 order__address"></span><br>
            </div> <!-- col.// -->
            <div class="col-lg-4 border-start">
              <p class="mb-1 text-muted">결제</p>
              <p class="m-0">
                <span class="text-success"> Visa  **** 4216   </span> <br>
                <span class="order__price"></span><br><br>
              </p>
            </div> <!-- col.// -->
          </div> <!-- row.// -->
          <hr>
          <ul class="row products">
          </ul>
        </div> <!-- card-body .// -->
        </article>
    </main> <!-- col.// -->
  </div> <!-- row.// -->
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'jsmeta/mypage/script_checkout_confirm.js' %}"></script>
{% endblock javascripts %}