{% extends 'layouts/base.html' %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{% static 'assets/css/product.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <main class="col-xl-8 col-lg-8">
        <!-- ============== COMPONENT CHECKOUT =============== -->			
      <article class="card">
        <div class="content-body">
            <h5 class="card-title"> 수령 방법 </h5> 
            <div class="row mb-3 nav nav-tabs">
              <div class="col-lg-3 mb-3 px-1 order__type">
                <div class="box box-check h-100 nav-link active" value="0" data-bs-target="#address" data-bs-toggle="tab">
                  <label class="form-check">
                    <input class="form-check-input" type="radio" name="dostavka" checked>
                    <b class="border-oncheck"></b>
                    <span class="form-check-label">
                       택배 배송<br>
                      <small class="text-muted">2일 후 출고 예정 </small>
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-lg-3 mb-3 px-1 order__type">
                <div class="box box-check h-100 nav-link" value="1" data-bs-target="#address" data-bs-toggle="tab">
                  <label class="form-check">
                    <input class="form-check-input" type="radio" name="dostavka">
                    <b class="border-oncheck"></b>
                    <span class="form-check-label">
                      근거리배송 <br>
                      <small class="text-muted">18시 배달 예정</small>
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-lg-3 mb-3 px-1 order__type">
                <div class="box box-check h-100 nav-link" value="2" data-bs-target="#address-none" data-bs-toggle="tab">
                  <label class="form-check">
                    <input class="form-check-input" type="radio" name="dostavka">
                    <b class="border-oncheck"></b>
                    <span class="form-check-label">
                       드라이브스루  <br>
                      <small class="text-muted"> 17시 준비 예정 </small>
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-lg-3 mb-3 px-1 order__type">
                <div class="box box-check h-100 nav-link" value="3" data-bs-target="#address-none" data-bs-toggle="tab">
                  <label class="form-check">
                    <input class="form-check-input" type="radio" name="dostavka">
                    <b class="border-oncheck"></b>
                    <span class="form-check-label">
                      픽업  <br>
                      <small class="text-muted"> 17시 준비 예정 </small>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row tab-content">
              <div class="col-sm-12 mb-3 px-0 tab-pane fade show active" id="address">
                <div class="tab-content">
                  <div class="tab-pane show active card-body px-2">
                    <article class="row gy-3">
                      <div class="float-end mb-3">
                        <button class="btn btn-light" onclick="openModal();">배송지목록</button>
                      </div>
                      <div class="row px-3" id="address__selected"></div>
                    </article> <!-- row.// -->
                  </div> <!-- tab-content.// -->
                </div>      
              </div>

              <div class="col-sm-12 mb-3 tab-pane fade" id="address-none">  
                <div class="row px-1" id="address__new">
                  <div class="col-sm-6 mb-3">
                    <label>받으실 분</label>
                    <input type="text" class="form-control address__name">
                  </div>
                  <div class="col-sm-6 col-6 mb-3">
                    <label>연락처</label>
                    <input type="text" class="form-control address__call">
                  </div>
                </div>
              </div>
              
            </div> <!-- row.// --> 
            <div class="mb-4">
              <label for="" class="form-label">배송 시 요청사항</label>
              <textarea class="form-control"></textarea>	
            </div> <!-- col end.// -->
            <div class="float-end">
              <button class="btn btn-light">취소</button>
              <button class="btn btn-primary" onclick="checkout()">결제하기</button>
            </div>
            
        </div> <!-- card-body end.// -->
      </article> <!-- card end.// -->
      <!-- ============== COMPONENT CHECKOUT .// =============== -->
    </main> <!-- col.// -->

    <aside class="col-xl-4 col-lg-4">
      <article class="card">
        <div class="card-body">
          <h5 class="card-title">결제</h5>

          <dl class="dlist-align">
            <dt>총 금액:</dt>
            <dd class="text-end checkout__total"> $195.90</dd>
          </dl>
          <dl class="dlist-align">
            <dt>할인 금액:</dt>
            <dd class="text-end text-danger"> - $60.00 </dd>
          </dl>
          <dl class="dlist-align">
            <dt>배송비:</dt>
            <dd class="text-end"> + $14.00 </dd>
          </dl>
          <hr>
          <dl class="dlist-align">
            <dt> 결제 금액: </dt>
            <dd class="text-end"> <strong class="text-dark">$252.90</strong> </dd>
          </dl>
          <div class="input-group my-4">
            <input type="text" class="form-control" name="lorem" placeholder="Promo code">
            <button class="btn btn-light text-primary">적용</button>
          </div>
          <hr>
          <h5 class="mb-4">결제할 상품</h5>
          <div class="checkout__products">
          </div>
        </div>
      </article>
    </aside> <!-- col.// -->
  </div> <!-- row.// -->
</div>

<!--배송지 선택 모달-->
<div class="modal fade" id="modal__address" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelLogout">배송지 선택</h5>
        <button type="button" class="close" data-dismiss="modal" id="modal-close" onclick="closeModal();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center my-3">
          <div class="col-lg-12">
            <div class="row g-2" id="address-table">
            </div> <!-- row.// -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="closeModal();">취소</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'jsmeta/mypage/script_checkout.js' %}"></script>
{% endblock javascripts %}