{% extends 'layouts/base.html' %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{% static 'assets/css/product.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block content %}
<div class="container mt-5">
  <div class="row pt-3">
    <aside class="col-lg-3">
      <!--  COMPONENT MENU LIST  -->
      <div class="card p-3 h-100">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link active" href="{% url 'mypage:order-history' %}">주문내역</a>
          <a class="nav-link" href="{% url 'mypage:like' %}">찜한 목록</a>
          <a class="nav-link" href="#">배송지 관리</a>
          <a class="nav-link" href="#">결제수단 관리</a>
          <a class="nav-link" href="#">My wishlist</a>
          <a class="nav-link" href="#">Transactions</a>
          <a class="nav-link" href="#">Profile setting</a>
          <a class="nav-link" href="#">Log out</a>
        </nav>
      </div>
      <!--   COMPONENT MENU LIST END .//   -->
    </aside>
    <main class="col-lg-9">
      <div class="card">
        <div class="card-body pb-2">
          <h5 class="card-title mb-2">주문번호 {{ order.order_no }}</h5>
          <hr class="mb-0">
          {% load index %}
          {% load humanize %}
          {% for p in products %}
          <article class="row gy-3 my-2">
            <div class="col-lg-8">
              <figure class="itemside  me-lg-5">
                <div class="aside">
                  <img src="{% with item=items|index:forloop.counter0 %}{{ item.main_img.url }}{% endwith %}" 
                      class="img-sm border rounded" 
                      onclick="window.open('/product/product-detail/'+'{{ p.product__id }}'+'','_self');"
                      style="cursor:pointer;">
                </div>
                <figcaption class="info">
                  <h6>{{ p.product__name }} {{ p.amount }}개</h6>
                  <p class="text-muted small">옵션</p>
                </figcaption>
              </figure>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
              <div class="price-wrap lh-sm"> 
                <p class="price h6 mb-2">{{ p.total | intcomma }}원</p>
                <p class="text-muted"> 수량 <strong>{{p.amount}}</strong>개</p> 
              </div> <!-- price-wrap .// -->
            </div>
            <div class="col-lg col-sm-4">
              <div class="float-lg-end">
                <!-- <a href="#" class="btn btn-light like" value="{{p.product__id}}"><i class="fa fa-heart"></i></a>  -->
                <a href="#" class="btn btn-light"><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </article> <!-- row.// -->
          {% endfor %}
        </div> <!-- card-body .// -->
      </div> <!-- card.// -->  
    </main>
  </div> <!-- row.// -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}