{% extends 'layouts/base.html' %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Bootstrap Touchspin -->
<link href="{% static 'vendor/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css' %}" rel="stylesheet">

<link href="{% static 'assets/css/product.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block content %}
<div class="container mt-5">
  <div class="row pt-3">
    <aside class="col-lg-3">
      <!--  COMPONENT MENU LIST  -->
      <div class="card p-3 h-100">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link active" href="{% url 'mypage:order-history' %}">주문내역</a>
          <a class="nav-link" href="{% url 'mypage:like' %}">찜한 목록</a>
          <a class="nav-link" href="{% url 'mypage:address' %}">배송지 관리</a>
          <a class="nav-link" href="#">결제수단 관리</a>
          <a class="nav-link" href="{% url 'mypage:review' %}">상품 후기</a>
          <a class="nav-link" href="{% url 'mypage:product_qna-list' %}">상품 문의</a>
          <a class="nav-link" href="{% url 'mypage:qna-list' %}">1:1 문의</a>
          <a class="nav-link" href="{% url 'confirm-info' %}">회원정보 수정</a>
          <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
        </nav>
      </div>
      <!--   COMPONENT MENU LIST END .//   -->
    </aside>
    <main class="col-lg-9">
      <div class="card">
        <div class="card-body pb-2">
          <h5 class="card-title mb-2">주문번호 {{ order.order_no }}</h5>
          <hr class="mb-0">
          {% load index %}
          {% load humanize %}
          {% for p in products %}
          <article class="row gy-3 my-2">
            <div class="col-lg-8">
              <figure class="itemside  me-lg-5">
                <div class="aside">
                  <img src="{% with item=items|index:forloop.counter0 %}{{ item.main_img.url }}{% endwith %}" 
                      class="img-sm border rounded" 
                      onclick="window.open('/product/product-detail/'+'{{ p.product__id }}'+'','_self');"
                      style="cursor:pointer;">
                </div>
                <figcaption class="info">
                  <h6>{{ p.product__name }} {{ p.amount }}개</h6>
                  <p class="text-muted small">옵션</p>
                </figcaption>
              </figure>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
              <div class="price-wrap lh-sm"> 
                <p class="price h6 mb-2">{{ p.total | intcomma }}원</p>
                <p class="text-muted"> 수량 <strong>{{p.amount}}</strong>개</p> 
              </div> <!-- price-wrap .// -->
            </div>
            <div class="col-lg col-sm-4">
              <div class="float-lg-end">
                <a class="btn btn-light btn-icon float-end history__cart"
                  data-id="{{p.product__id}}"
                  data-name="{{p.product__name}}"
                  onclick="openModal(this)"><i class="bi bi-cart2"></i></a>
              </div>
            </div>
          </article> <!-- row.// -->
          {% endfor %}
        </div> <!-- card-body .// -->
      </div> <!-- card.// -->  
    </main>
  </div> <!-- row.// -->
</div>

<!--장바구니 모달-->
<div class="modal fade" id="product-add" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row justify-content-center my-3">
          <div class="col-lg-11 ">
            <figure class="itemside align-middle question-product mb-3">
              <div class="aside">
                <img src="" 
                    class="img-sm border rounded product__img" id="product__img">
              </div>
              <figcaption class="info pt-1">
                <h6 class="product__title mb-2 pt-3"></h6>
              </figcaption>
            </figure>
            <div class="input-group input-spinner touchspin float-end">
              <input type="text" class="form-control product__amount" 
                    name="amount" value="1">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="closeModal();">닫기</button>
        <button type="button" class="btn btn-primary" id="product__cart" onclick="addCart()">장바구니 담기</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Bootstrap Touchspin -->
<script src="{% static 'vendor/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'jsmeta/touchspin.js' %}"></script>

<script src="{% static 'jsmeta/mypage/script_order_history.js' %}"></script>
{% endblock javascripts %}