{% extends 'layouts/base.html' %} {% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid" id="container-wrapper"> 
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 pl-2 text-gray-800">리뷰</h1>
  </div>
    

  <div class="row">
    <div class="col">
        <div class="card mb-3 p-3">
          <div class="card-header d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-2 font-weight-bold text-primary">대표 이미지</h6>
          </div>
          <div class="py-4 px-5">
            <img src="{{comment.comment_img.url}}" width="300" height="400"><br>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card-body pt-0">
            <div class ="needs-validation px-3 pt-3 pb-4">
            <div class="py-4 px-5">점포명<span class="py-4 px-5"></span>{{comment.orderproduct.product.shop.shop_name}}</div>
            <div class="py-4 px-5">상품명<span class="py-4 px-5"></span>{{comment.orderproduct.product.name}}</div>
            <div class="py-4 px-5">별점<span class="py-4 px-5"></span>{{comment.rate}}</div>
            <div class="py-4 px-5">내용<span class="py-4 px-5"></span>{{comment.content}}</div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

{% endblock javascripts %}