{% extends 'layouts/base.html' %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{% static 'assets/css/product.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block content %}
<div class="container mt-5">
  <div class="row pt-3">
    <aside class="col-lg-3">
      <!--  COMPONENT MENU LIST  -->
      <div class="card p-3 h-100">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link" href="{% url 'mypage:order-history' %}">주문내역</a>
          <a class="nav-link" href="{% url 'mypage:like' %}">찜한 목록</a>
          <a class="nav-link" href="{% url 'mypage:address' %}">배송지 관리</a>
          <a class="nav-link" href="#">결제수단 관리</a>
          <a class="nav-link active" href="{% url 'mypage:qna-list' %}">1:1 문의</a>
          <a class="nav-link" href="#">Transactions</a>
          <a class="nav-link" href="{% url 'confirm-info' %}">회원정보 수정</a>
          <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
        </nav>
      </div>
      <!--   COMPONENT MENU LIST END .//   -->
    </aside>
    <main class="col-lg-9">
      <div class="card mb-5">
        <div class="card-body">
          <h4 class="card-title mb-4">후기</h4>
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a href="#" data-bs-target="#reviews" data-bs-toggle="tab" class="nav-link active">작성 가능한 후기</a>
            </li>
            <li class="nav-item">
              <a href="#" data-bs-target="#reviews-done" data-bs-toggle="tab" class="nav-link">작성 완료한 후기</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="reviews" class="tab-pane show active card-body">
              <p>With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              <ul class="list-check cols-two">
                <li>Some great feature name here </li>
                <li>Lorem ipsum dolor sit amet, consectetur </li>
                <li>Duis aute irure dolor in reprehenderit </li>
                <li>Optical heart sensor </li>
                <li>Easy fast and ver good </li>
                <li>Some great feature name here </li>
                <li>Modern style and design</li>
              </ul>
              <table class="table border table-hover">
                <tr>
                  <th>  Display: </th> <td> 13.3-inch LED-backlit display with IPS </td>
                </tr>
                <tr>
                  <th>  Processor capacity: </th> <td> 2.3GHz dual-core Intel Core i5 </td>
                </tr>
                <tr>
                  <th>  Camera quality: </th> <td>720p FaceTime HD camera  </td>
                </tr>
                <tr>
                  <th>  Memory </th> <td> 8 GB RAM or 16 GB RAM </td>
                </tr>
                <tr>
                  <th>  Graphics </th> <td> Intel Iris Plus Graphics 640 </td>
                </tr>
              </table>
            </div> <!-- tab-content.// -->
            <div id="reviews-done" class="tab-pane card-body mt-3">
              {% if reviews %}
              {% load index %}
              {% for r in reviews %}
              <blockquote class="border-bottom">
                <div class="icontext">
                  <div class="text">
                    <h6 class="mb-1"> {{ r.orderproduct__product__name }} </h6>
                    <span class="score">
                      <div class="score-wrap">
                        <span class="stars-active" style="width: {{ r.rate }}%">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <span class="stars-inactive">
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                        </span>
                        
                      </div>
                      <div class="date-wrap">
                        <span class="text-muted" id="review-dot">·</span>
                        <small class="label-rating text-muted pb-2" id="review-date">{{ r.created_at|date:"Y.m.d" }} 작성 </small>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="mt-2 mb-4 review__content">
                  {% with image=images|index:forloop.counter0 %}
                  <div class="aside">
                    <img width="72" height="72" src="{{image.comment_img.url}}" class="img-md rounded border"  onclick="window.open(this.src)" style="cursor:pointer;">
                  </div>
                  {% endwith %}
                  <p class="px-3">{{ r.content }}</p>
                </div>
              </blockquote>
              {% endfor %}
              {% else %}
              <span>작성한 후기가 없습니다</span>
              {% endif %}
            </div>
          </div>      
        </div> <!-- card-body end.// -->
      </div> <!-- card end.// -->
    </main>
  </div> <!-- row.// -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'jsmeta/mypage/script_qna.js' %}"></script>
{% endblock javascripts %}